.nav {
  padding: 30px 45px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 0 20px;
}

.link {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: 1;
  white-space: nowrap;
  color: var(--menu-link-color);
  transition: var(--ease-in-out-color-small);
}

.link:hover {
  color: var(--menu-link-color-active);
}

.link:focus {
  color: var(--menu-link-color-active);
  outline: var(--menu-link-color-active) auto 5px;
}
