.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.translation {
  padding: 30px;
  margin: 35px 0;
  overflow: auto;
  background: var(--mine-shaft);
  border-radius: 8px;
  border: 1px solid var(--link-border);
}

.footer {
  text-align: right;
  margin-top: 80px;
}

.separator {
  margin: 0 10px;
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .footer {
    margin-top: 60px;
  }
}
