:root {
  --black: #000;
  --black-pearl: #1c1c1c;
  --athens-gray: #f9f9fa;
  --mine-shaft: #373535;
  --white: #ecedf3;
  --boulder: #757575;
  --susty-gray: #979797;
  --mercury: #e1e1e1;
  --gallery: #ededed;
  --viola: #ce9ebd;
  --cannon-pink: #7d3f6e;
  --selective-yellow: #ffb402;
  --cerulean: #01aee0;
  --vermilion: #ff3a00;
  --caribbean-green: #00ccab;
  --heliotrope: #ab8ffb;
  --athens-gray-rgba: rgba(249, 249, 250, 0.05);
  --black-pearl-rgba: rgba(28, 28, 28, 0.16);
  --ivory: rgba(255, 255, 255, 0.2);
  --black-russian: rgba(0, 0, 0, 0.2);

  /* Font family */
  --default-font-style: normal;
  --italic-font-style: italic;
  --default-font-family: Arial;
  --italic-font-family: Georgia;
  --font-family-georgia: Georgia;
  --font-poppins: "Poppins", sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Animation */
  --cubic-bezier: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ease-in-out-color-small: color 0.15s ease-in-out;
  --ease-in-out-color-medium: color 0.3s ease-in-out;
  --ease-in-out-all: all 0.3s ease-in-out;
  --ease-in-out-background-color: background-color 0.3s ease-in-out;
  --cubic-bezier-mask: opacity 0.3s var(--cubic-bezier), height 0s ease 0.3s;
  --cubic-bezier-menu: transform 0.3s var(--cubic-bezier),
    box-shadow 0.3s var(--cubic-bezier);
  --cubic-bezier-amimation-mask: 0.3s var(--cubic-bezier);
  --bg-color: var(--black-pearl);
  --font-color: var(--white);
  --social-link-color: var(--susty-gray);
  --social-link-color-active: var(--mercury);
  --menu-link-color: var(--susty-gray);
  --menu-link-color-active: var(--mercury);
  --box-shadow: var(--athens-gray-rgba);
  --menu-hamburger-color: var(--athens-gray);
  --switch-bg: var(--athens-gray);
  --link: var(--viola);
  --link-border: var(--viola);
  --post-border: var(--mine-shaft);
  --footer-bg: var(--mine-shaft);
  --pagination-inactive: var(--susty-gray);
}

[data-theme="light"] {
  --bg-color: var(--athens-gray);
  --font-color: var(--mine-shaft);
  --social-link-color: var(--boulder);
  --social-link-color-active: var(--mine-shaft);
  --menu-link-color: var(--boulder);
  --menu-link-color-active: var(--mine-shaft);
  --box-shadow: var(--black-pearl-rgba);
  --menu-hamburger-color: var(--black-pearl);
  --switch-bg: var(--black-pearl);
  --link: var(--cannon-pink);
  --link-border: var(--cannon-pink);
  --post-border: var(--gallery);
  --footer-bg: var(--gallery);
  --pagination-inactive: var(--boulder);
}
