.title {
  margin-bottom: 75px;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.55;
}

.title.inline {
  margin-bottom: 25px;
}

@media (max-width: 1980px) {
  .title {
    margin-bottom: 55px;
  }
}

@media (max-width: 1400px) {
  .title {
    margin-bottom: 40px;
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .title {
    margin-bottom: 30px;
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
