.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 90px;
}

.normal {
  max-width: 980px;
}

.increased {
  max-width: 1600px;
}

@media (max-width: 1980px) {
  .wrapper {
    padding: 0 40px;
  }

  .increased {
    max-width: 1400px;
    padding: 0 80px;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    padding: 0 30px;
  }

  .normal {
    max-width: 750px;
  }

  .increased {
    padding: 0 70px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 75px;
  }
}

@media (max-width: 768px) {
  .wrapper,
  .increased {
    padding: 0 40px;
  }
}

@media (max-width: 640px) {
  .wrapper,
  .increased {
    padding: 0 30px;
  }
}
