.info {
  margin: 0 0 180px;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.subtitle {
  margin-bottom: 25px;
  font-size: 1.65rem;
  line-height: 2;
}

@media (max-width: 1400px) {
  .info {
    margin: 0 0 150px;
  }
}

@media (max-width: 1200px) {
  .info {
    margin: 0 0 120px;
  }
}

@media (max-width: 992px) {
  .info {
    margin: 60px 0 100px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 25px;
    font-size: 1.35rem;
    line-height: 2;
  }
}
