.footer {
  padding: 60px 0;
  background-color: var(--footer-bg);
  transition: var(--ease-in-out-background-color);
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.author,
.social {
  width: 100%;
  max-width: 230px;
}

.social {
  text-align: right;
}

.title {
  display: inline-block;
  margin: 0 0 8px;
  font-size: 1rem;
}

.text {
  line-height: 1.45;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }

  .author,
  .social {
    max-width: 100%;
    text-align: left;
  }

  .author {
    margin-bottom: 30px;
  }
}
