.button {
  z-index: 2;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 9px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button:focus {
  outline: var(--menu-link-color-active) auto 5px;
}

.line {
  position: absolute;
  left: 15px;
  display: block;
  width: 100%;
  max-width: 30px;
  height: 2px;
  background-color: var(--menu-hamburger-color);
  transition: var(--ease-in-out-all);
  transform: rotate(0deg);
  transform-origin: left center;
}

.line:nth-child(1) {
  top: 20px;
}

.line:nth-child(2) {
  top: 28px;
}

.line:nth-child(3) {
  top: 36px;
  max-width: 20px;
}

:global(.is-open) .line:nth-child(1),
:global(.is-open) .line:nth-child(3) {
  top: 28px;
  max-width: 14px;
}

:global(.is-open) .line:nth-child(1) {
  transform: rotate(-45deg);
}

:global(.is-open) .line:nth-child(3) {
  transform: rotate(45deg);
}

@media (max-width: 992px) {
  .button {
    display: flex;
  }
}
